.ficha{
    border: 1px solid black;
    padding: 0px 0 10px 0;
}
.fichas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:15px;
}
.contenidoFicha{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:15px;
}
.headerFicha{
    background-color: rgb(168, 168, 214);
}
.texto{
    display:flex;
    justify-content: space-between;
    margin: 2px 0 2px 0;
}
.texto>span{
    margin: 0px 10px 0px 10px;
}
.texto>span:last-of-type{
    color:rgb(110, 110, 72);
}
.fichaTitulo{
    margin: 5px 0 15px 3px
}
.fichaActualizar{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:15px;
}