.ficha{
    border: 1px solid black;
    height: 15vh;
    margin: 10px 0 10px 0;
    max-width: 30vw;
    margin:0;
}
.fichas{
    height:100%;
    overflow-y: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px;
}
.contenidoFicha{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95%;
}
.headerFicha{
    height:5%;
    background-color: rgb(168, 168, 214);
}
.texto{
    display:flex;
    justify-content: space-between;
}
.texto>span{
    margin: 0 10px 0 10px;
}
.texto>span:last-of-type{
    color:rgb(110, 110, 72);
}