<section class="fichas">
    <div *ngFor="let cliente of clientesAMostrar" class="ficha">
        <div class="headerFicha"><span class="fichaTitulo">Cliente</span></div>
        <div class="contenedorFicha">
            <div class="texto"><span>ID</span><span>{{cliente.id}}</span></div>
            <div class="texto"><span>ID Gestor</span><span>{{cliente.id_gestor}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{cliente.nombre}}</span></div>
            <div class="texto"><span>Apellido</span><span> {{cliente.apellido}}</span></div>
            <div class="texto"><span>Usuario</span><span>{{cliente.usuario}}</span></div>
            <div class="texto"><span>Balance</span><span>{{cliente.balance}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let gestor of gestoresAMostrar" class="ficha">
        <div class="headerFicha"><span class="fichaTitulo">Gestor</span></div>
        <div class="contenidoFicha">
            <div class="texto"><span>ID</span><span>{{gestor.id}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{gestor.nombre}}</span></div>
            <div class="texto"><span>Apellido</span><span> {{gestor.apellido}}</span></div>
            <div class="texto"><span>Usuario</span><span>{{gestor.usuario}}</span></div>
            <div class="texto"><span>Salario</span><span>{{gestor.salario}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let mensaje of mensajesAMostrar" class="ficha">
        <div class="headerFicha"><span class="fichaTitulo">Mensasaje</span></div>
        <div class="contenidoFicha">
            <div class="texto"><span>ID</span><span>{{mensaje.id}}</span></div>
            <div class="texto"><span>Mensaje</span><span>{{mensaje.mensaje}}</span></div>
            <div class="texto"><span>Usuario emisor</span><span>{{mensaje.us_emisor}}</span></div>
            <div class="texto"><span>Nombre emisor</span><span>{{mensaje.nombre_emisor}}</span></div>
            <div class="texto"><span>Usuario receptor</span><span>{{mensaje.us_receptor}}</span></div>
            <div class="texto"><span>Nombre receptor</span><span>{{mensaje.nombre_receptor}}</span></div>
            <div class="texto"><span>Fecha</span><span>{{mensaje.fecha}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let deposito of depositosAMostrar" class="ficha">
        <div class="headerFicha"><span class="fichaTitulo">Deposito</span></div>
        <div class="contenidoFicha">
            <div class="texto"><span>ID</span><span>{{deposito.id}}</span></div>
            <div class="texto"><span>ID cliente</span><span>{{deposito.id_emisor}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{deposito.nombre_emisor}}</span></div>
            <div class="texto"><span>Monto</span><span>{{deposito.monto}}</span></div>
            <div class="texto"><span>Fecha</span><span>{{deposito.fecha}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let transferencia of transferenciasAMostrar" class="ficha">
        <div class="headerFicha"> <span class="fichaTitulo">Transferencia</span></div>
        <div class="contenidoFicha">
            <div class="texto"><span>ID</span><span>{{transferencia.id}}</span></div>
            <div class="texto"><span>Monto</span><span>{{transferencia.monto}}</span></div>
            <div class="texto"><span>ID cliente</span><span>{{transferencia.id_emisor}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{transferencia.nombre_emisor}}</span></div>
            <div class="texto"><span>ID receptor</span><span>{{transferencia.id_receptor}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{transferencia.nombre_receptor}}</span></div>
            <div class="texto"><span>Fecha</span><span>{{transferencia.fecha}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let cliente of clienteAActualizar" class="fichaActualizar">
        <div class="headerFicha"> <span class="fichaTitulo">Actualizar Cliente</span></div>
        <form  (ngSubmit)="actualizarClienteDesdeForm()" class="contenidoFicha">
            <span>ID: {{cliente.id}} </span>
            <span> Balance: {{cliente.balance}}</span>
            <label>ID Gestor: <input type="number" name="id_gestor" [(ngModel)]="formData.id_gestorForm"></label>
            <label>Nombre:  <input type="text" name="nombre" [(ngModel)]="formData.nombreForm"></label> 
            <label>Apellido:<input  type="text" name="apellido" [(ngModel)]="formData.apellidoForm"> </label> 
            <label>Usuario: <input  type="text" name="usuario" [(ngModel)]="formData.usuarioForm"></label> 
            <input type="submit" value="actualizar">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Nueva contraseña"> <button (click)="actualizarPassword('cliente')">Actualizar contraseña</button>
            <button (click)="eliminarUsuario(formData.usuarioForm)">Eliminar usuario</button>
            <span>{{respuesta}}</span>
        </form>
    </div>
    
    <div *ngFor="let gestor of gestorAActualizar" class="fichaActualizar">
        <div class="headerFicha"> <span class="fichaTitulo">Actualizar Gestor</span></div>
        <form (ngSubmit)="actualizarGestorDesdeForm()" class="contenidoFicha">
            <span>ID: {{gestor.id}}</span>
            <label>Nombre:  <input type="text" name="nombre" [(ngModel)]="formData.nombreForm"></label> 
            <label>Apellido:<input  type="text" name="apellido" [(ngModel)]="formData.apellidoForm"> </label> 
            <label>Usuario: <input  type="text" name="usuario" [(ngModel)]="formData.usuarioForm"></label> 
            <span>Salario: {{gestor.salario}} </span>
            <input type="submit" value="Actualizar">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Nueva contraseña"> <button (click)="actualizarPassword('gestor')">Actualizar contraseña</button>
            <button (click)="eliminarUsuario(formData.usuarioForm)">Eliminar usuario</button>
            <span>{{respuesta}}</span>
        </form>
    </div>
</section>
