<section class="fichas">
    <div *ngFor="let cliente of clientesAMostrar" class="ficha">
        <div class="headerFicha"></div>
        <span>ID: {{cliente.id}}</span>
        <span>ID Gestor: {{cliente.id_gestor}}</span>
        <span>Nombre: {{cliente.nombre}}</span>
        <span>Apellido: {{cliente.apellido}}</span>
        <span>Usuario: {{cliente.usuario}}</span>
        <span>Balance: {{cliente.balance}}</span>
    </div>
    
    <div *ngFor="let gestor of gestoresAMostrar" class="ficha">
        <div class="headerFicha"></div>
        <div class="contenidoFicha">
            <div class="texto"><span>ID</span><span>{{gestor.id}}</span></div>
            <div class="texto"><span>Nombre</span><span>{{gestor.nombre}}</span></div>
            <div class="texto"><span>Apellido</span><span> {{gestor.apellido}}</span></div>
            <div class="texto"><span>Usuario</span><span>{{gestor.usuario}}</span></div>
            <div class="texto"><span>Salario</span><span>{{gestor.salario}}</span></div>
        </div>
    </div>
    
    <div *ngFor="let mensaje of mensajesAMostrar" class="ficha">
        <div class="headerFicha"></div>
        ID: {{mensaje.id}} <br>
        Mensaje: {{mensaje.mensaje}} <br>
        Usuario emisor: {{mensaje.us_emisor}} <br>
        Nombre emisor: {{mensaje.nombre_emisor}} <br>
        Usuario receptor: {{mensaje.us_receptor}} <br>
        Nombre receptor: {{mensaje.nombre_receptor}} <br>
        Fecha: {{mensaje.fecha}}
    </div>
    
    <div *ngFor="let deposito of depositosAMostrar" class="ficha">
        <div class="headerFicha"></div>
        Deposito:
        ID: {{deposito.id}}<br>
        ID cliente: {{deposito.id_emisor}}<br>
        Nombre: {{deposito.nombre_emisor}}<br>
        Monto: {{deposito.monto}}<br>
        Fecha: {{deposito.fecha}} <br>
    </div>
    
    <div *ngFor="let transferencia of transferenciasAMostrar" class="ficha">
        <div class="headerFicha"></div>
        Transferencia:
        ID: {{transferencia.id}}<br>
        Monto: {{transferencia.monto}}<br>
        ID cliente: {{transferencia.id_emisor}}<br>
        Nombre: {{transferencia.nombre_emisor}}<br>
        ID receptor: {{transferencia.id_receptor}}<br>
        Nombre : {{transferencia.nombre_receptor}}<br>
        Fecha: {{transferencia.fecha}} <br>
    </div>
    
    <div *ngFor="let cliente of clienteAActualizar" class="ficha">
        <div class="headerFicha"></div>
        ID: {{cliente.id}} <br>
        Balance: {{cliente.balance}} <br>
        <form  (ngSubmit)="actualizarClienteDesdeForm()">
            <label>ID Gestor: <input type="number" name="id_gestor" [(ngModel)]="formData.id_gestorForm"></label> <br>
            <label>Nombre:  <input type="text" name="nombre" [(ngModel)]="formData.nombreForm"></label> <br>
            <label>Apellido:<input  type="text" name="apellido" [(ngModel)]="formData.apellidoForm"> </label> <br>
            <label>Usuario: <input  type="text" name="usuario" [(ngModel)]="formData.usuarioForm"></label> <br>
            <input type="submit" value="actualizar">
        </form>
        <input type="password" name="password" [(ngModel)]="password"> <button (click)="actualizarPassword('cliente')">Actualizar contraseña</button>
        <button (click)="eliminarUsuario(formData.usuarioForm)">Eliminar usuario</button>
        {{respuesta}}
    </div>
    
    <div *ngFor="let gestor of gestorAActualizar" class="ficha">
        <div class="headerFicha"></div>
        ID: {{gestor.id}} <br>
        Salario: {{gestor.salario}} <br>
        <form (ngSubmit)="actualizarGestorDesdeForm()">
            <label>Nombre:  <input type="text" name="nombre" [(ngModel)]="formData.nombreForm"></label> <br>
            <label>Apellido:<input  type="text" name="apellido" [(ngModel)]="formData.apellidoForm"> </label> <br>
            <label>Usuario: <input  type="text" name="usuario" [(ngModel)]="formData.usuarioForm"></label> <br>
            <input type="submit" value="actualizar">
        </form>
        <input type="password" name="password" [(ngModel)]="password"> <button (click)="actualizarPassword('gestor')">Actualizar contraseña</button>
        <button (click)="eliminarUsuario(formData.usuarioForm)">Eliminar usuario</button>
        {{respuesta}}
    </div>
</section>
