@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body{
  background-color:rgb(241, 116, 116);
  font-family: Helvetica, sans-serif;
}

main{
  width:95%;
  max-width:900px;
  margin: 5px auto;
}

h1, p{
  text-align:center;
  width:70%;
  margin: 40px auto;
}

h1{
  font-size: min(3rem);
}

label, p{
  font-size: 1.6rem;
}

label{
  margin:10px auto;
  margin-top:0px;
  margin-bottom:20px;}

input{
  height:5%;
  margin:10px auto;
  margin-top:5px;
}

label, input{
  width:100%;
  display:block;
}

.informp{
  padding: 0 0 20px 0;
  margin:0;
  text-align:left;
}

fieldset{
  width:90%;
  max-width: 90%;
  min-width: 30%;
  margin: 0 auto;
  padding: 0px 15px;
  border:none;
  background-color:red;
}
fieldset:first-of-type{
  padding-top:15px
}
fieldset:last-of-type{
  padding-bottom:15px;
}


input[type="submit"]{
  width:30%;
  background-color:rgb(128, 40, 40);
}
input[type="radio"],input[type="checkbox"]{
  width:20px;
  margin: 0 13px 0 0;
  display:inline-block;
  vertical-align:middle;
}

select{
  margin-top:5px;
  height:7%;
  font-size:1.4rem;
  width:100%;
  margin:10px auto;
  display:block;
} 

textarea{
  width:100%;
  resize: none;
}



/* Helpful */
/* fieldset, select, h1, p, input, label{
  border: 2px solid black;
} */




  

  


  





