body{
  background-color:rgb(241, 116, 116);
}

h1, p{
  text-align:center;
  width:70%;
  margin: 20 auto;
}

.informp{
  padding: 0 0 20px 0;
  margin:0;
  text-align:left;
}

fieldset{
  width:30% ;
  margin: 0 auto;
  padding: 0px 15px;
  border:none;
  background-color:red;
}
fieldset:first-of-type{
  padding-top:15px
}
fieldset:last-of-type{
  padding-bottom:15px;
}

label{
  font-size:1.2rem;
  width:100%;
  margin:10px auto;
  margin-top:0px;
  margin-bottom:20px;
  display:block;
}

input{
  font-size:1.2rem;
  width:100%;
  height:7%;
  margin:10px auto;
  margin-top:5px;
  display:block;
}
input[type="submit"]{
  width:30%;
  background-color:rgb(128, 40, 40);
}
input[type="radio"],input[type="checkbox"]{
  width:20px;
  margin: 0 13px 0 0;
  display:inline-block;
  vertical-align:middle;
}

select{
  margin-top:5px;
  height:7%;
  font-size:1.2rem;
  width:100%;
  margin:10px auto;
  display:block;
} 

textarea{
  width:100%;
  resize: none;
}



/* Helpful */
/* fieldset, select, h1, p, input, label{
  border: 2px solid black;
} */




  

  


  





