<header class="subheader seccion" *ngIf="enSeccion">
    <div class="center">
        <img src="../../../assets/img/iconmic.png">
        <span>{{seccion}}</span>
    </div>
    <div class="end">
        <app-filtros></app-filtros>
        <img src="../../../assets/img/iconhome.png">
    </div>
</header>

<header class="subheader noticia"  *ngIf="enNoticia">
    <span>{{titulo}}</span>
    <div class="end">
        <app-filtros></app-filtros>
        <img src="../../../assets/img/iconhome.png">
    </div>
</header>

<header class="subheader home"  *ngIf="enHome">
    <span>NOTICIAS DEL MOMENTO</span> <app-filtros></app-filtros>
</header>

