<div class="drop" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">Filtros 
    <ul class="dropContent" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">
        <li class="drop" *ngIf=!enSeccion [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">Sección 
            <ul class="dropContent move" id="listaFiltros" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="todas"   >Todas   </label><input type="radio" id="todas"    name="seccion" value="todas"    (change)=updateSeccion(todas) checked></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="opinion" >Opinion </label><input type="radio" id="opinion"  name="seccion" value="opinion"  (change)=updateSeccion(opinion)></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="economia">Economia</label><input type="radio" id="economia" name="seccion" value="economia" (change)=updateSeccion(economia)></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="politica">Politica</label><input type="radio" id="politica" name="seccion" value="politica" (change)=updateSeccion(politica)></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="deporte" >Deporte </label><input type="radio" id="deporte"  name="seccion" value="deporte"  (change)=updateSeccion(deporte)></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="ciencia" >Ciencia </label><input type="radio" id="ciencia"  name="seccion" value="ciencia"  (change)=updateSeccion(ciencia)></li>
            </ul>
        </li>
        <li class="drop" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">Fecha
            <ul class="dropContent move" id="listaFiltros" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">
                <li><input type="date" value="fecha" name="fecha" id="fecha"  [(ngModel)]="fecha" (change)=update()></li>
            </ul>
        </li>
        <li class="drop" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"  > Autor
            <ul class="dropContent move" id="listaFiltros" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}">
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="Jonathan Granado">Jonathan Granado</label><input type="checkbox" id="Jonathan Granado" [(ngModel)]="valuesAutor.jonathanGranado" (change)=update()></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="Noemi Segarra"   >Noemi Segarra   </label><input type="checkbox" id="Noemi Segarra"    [(ngModel)]="valuesAutor.noemiSegarra"    (change)=update()></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="Jone Figueras"   >Jone Figueras   </label><input type="checkbox" id="Jone Figueras"    [(ngModel)]="valuesAutor.joneFigueras"    (change)=update()></li>
                <li [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"><label for="Mirian Fuertes"  >Mirian Fuertes  </label><input type="checkbox" id="Mirian Fuertes"   [(ngModel)]="valuesAutor.mirianFuertes"   (change)=update()></li>
            </ul>   
        </li>
        <li id="buttonListItem" (click)=limpiar()>
            <button>Limpiar</button>
        </li>
    </ul>
</div>
