<section id="LogInContainer">
    <div id="LogInWindow">
        <header><h1>¡Bienvenido!</h1></header>
        <form (ngSubmit)="logIn()" id="form">

            <label><span class="inputLabelText">Usuario</span>
            <input type="text" name="usuario" [(ngModel)]="usuario"> 
            </label>

            <label><span  class="inputLabelText">Contraseña</span>
            <input type="password" name="password" [(ngModel)]="password">
            </label> 

            <input type="submit" value="ingresar" class="boton">

            <a routerLink="../registrarse"><button class="boton">Registrarse</button></a>

            <span>{{respuesta}}</span>

        </form>
    </div>
</section>