
#LogInContainer{
    align-items: center;
    display:flex;
    height: 97vh;
    width:97vw;
    margin:0 auto;
}
#LogInWindow{
    margin:0 auto;
    width:50vh;
}
h1{    
    background-color: rgb(245, 248, 208);
    border:1px solid rgb(226, 233, 127);
    border-bottom: 0;
    margin:0;
    padding:10px;
    text-align: center;
}
#form{
    align-items: center;
    border: 1px solid rgb(168, 168, 214);
    border-top: 0;
    display:flex;
    flex-direction: column;
    height:50vh;
    justify-content: space-evenly;
}
.inputLabelText{
    display:block;
    font-size: 1.3rem;
    margin: 15px auto;
    width: 75%;
}
label input{
    box-sizing: border-box;
    font-size: 1.15rem;
    padding: 15px;    
}
label, input{
    display: block;
}
label, button{
    width:100%;
}
input, button{
    height: 4vh;
    margin: 15px auto;
    padding: 0;
}
input, a{
    width: 75%;
}
.boton{
    background-color:rgb(245, 248, 208);
    border:1px solid black;
    min-height: 4vh;
}
.boton:hover{
    background-color:rgb(226, 233, 127);
    border:1px solid black;
    transition-duration: 0.5s;
}
span{
    min-height: 25px;
}