
<section>

    <div class="contenidoDimensiones, menuContenedor"  *ngIf="esGestor()">

        <div id="menuGestor1" class="contendoGrid, menu" *ngIf="menues.gestor" >
            <button (click)="menues.gestor1_1 = true;menues.gestor = false">Gestores</button><br>       
            <button (click)="menues.gestor1_2 = true;menues.gestor = false">Clientes</button><br>
            <button (click)="menues.gestor1_3 = true;menues.gestor = false">Operaciones</button><br>
            <button (click)="menues.gestor1_4 = true;menues.gestor = false">Mensajes</button><br>
            <button [ngClass]="{botonSeleccionado: estado.actualizarGestorLogeado}"  (click)="seleccionar('actualizarGestorLogeado')">Mi cuenta</button><br>
            <button (click)="cerrarSesion()">Cerrar sesion</button><br>
        </div>
        <div id="menuGestor1.1" class="contendoGrid, menu" *ngIf="menues.gestor1_1">
            <button [ngClass]="{botonSeleccionado: estado.agregarGestor}"       (click)="seleccionar('agregarGestor')">Agregar gestor</button><br>
            <button [ngClass]="{botonSeleccionado: estado.obtenerGestores}"     (click)="seleccionar('obtenerGestores')">Obtener gestores</button><br>
            <button [ngClass]="{botonSeleccionado: estado.actualizarGestor}"    (click)="seleccionar('actualizarGestor')">Actualizar gestor</button><br>
            <button [ngClass]="{botonSeleccionado: estado.agregarGestores}"     (click)="seleccionar('agregarGestores')">Agregar gestores</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verClientesDeGestor}" (click)="seleccionar('verClientesDeGestor')">Ver clientes de gestor</button><br>
            <button (click)="reset('gestor','gestor1_1')">Volver</button><br>
        </div>
        <div id="menuGestor1.2" class="contendoGrid, menu" *ngIf="menues.gestor1_2">
            <button [ngClass]="{botonSeleccionado: estado.agregarCliente}" (click)="seleccionar('agregarCliente')">Agregar cliente</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verClientes}" (click)="seleccionar('verClientes')">Ver clientes</button><br>
            <button [ngClass]="{botonSeleccionado: estado.actualizarCliente}" (click)="seleccionar('actualizarCliente')">Actualizar cliente</button><br>
            <button [ngClass]="{botonSeleccionado: estado.misClientes}" (click)="seleccionar('misClientes')">Mis clientes</button><br>
            <button (click)="reset('gestor','gestor1_2')">Volver</button><br>
        </div>
        <div id="menuGestor1.3" class="contendoGrid, menu" *ngIf="menues.gestor1_3">
            <button [ngClass]="{botonSeleccionado: estado.verTodasLasOperaciones}" (click)="seleccionar('verTodasLasOperaciones')">Ver todas las operaciones</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verDepositos}" (click)="seleccionar('verDepositos')">Ver depositos</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verTransferencias}" (click)="seleccionar('verTransferencias')">Ver transferencias</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verLasOperacionesDeUnUsuario}" (click)="seleccionar('verLasOperacionesDeUnUsuario')">Ver las operaciones de un usuario</button><br>
            <button (click)="reset('gestor','gestor1_3')">Volver</button><br>
        </div>
        <div id="menuGestor1.4" class="contendoGrid, menu" *ngIf="menues.gestor1_4">
            <button [ngClass]="{botonSeleccionado: estado.enviarMensaje}" (click)="seleccionar('enviarMensaje')">Enviar mensaje</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verMensajes}" (click)="seleccionar('verMensajes')">Ver mensajes</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verMisMensajes}" (click)="seleccionar('verMisMensajes')">Ver mis mensajes</button><br>
            <button (click)="reset('gestor','gestor1_4')">Volver</button><br>
        </div>

    </div>

    <div class="contenidoDimensiones, menuContenedor" *ngIf="esCliente()">

        <div id="menuCliente1" class="contendoGrid, menu" *ngIf="menues.cliente">
            <button [ngClass]="{botonSeleccionado: estado.deposito }"                (click)="seleccionar('deposito')">Deposito</button><br>
            <button [ngClass]="{botonSeleccionado: estado.transferencia}"            (click)="seleccionar('transferencia')">Transferencia</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verMisDepositos}"          (click)="seleccionar('verMisDepositos')">Ver mis depositos</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verMisTransferencias}"     (click)="seleccionar('verMisTransferencias')">Ver mis transferencias</button><br>
            <button [ngClass]="{botonSeleccionado: estado.enviarMensaje}"            (click)="seleccionar('enviarMensaje')">Enviar mensaje</button><br>
            <button [ngClass]="{botonSeleccionado: estado.verMisMensajes}"           (click)="seleccionar('verMisMensajes')">Mis mensajes</button><br>
            <button [ngClass]="{botonSeleccionado: estado.actualizarClienteLogeado}" (click)="seleccionar('actualizarClienteLogeado')">Mi cuenta</button><br>
            <button (click)="cerrarSesion()">Cerrar sesion</button><br>
        </div>

    </div>

    <div class="contenidoDimensiones" id="informacionDisplayComponentContenedor">
        <app-informacion-display id="informacionDisplayComponent" [estado]="estado"></app-informacion-display>
    </div>

</section>

