<header class="subheader noticia" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}"  *ngIf="enNoticia">
    <span>{{ titulo | uppercase}}</span>
    <div class="end">
        <a routerLink="" (click)="goHome()" ><img src="../../../assets/img/homeLogoB.svg" class="imgSeccion"></a>
    </div>
</header>

<header class="subheader seccion" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}" *ngIf="enSeccion">
    <div class="center">
        <img src={{imgUrl}} class="imgSeccion">
        <span>{{ seccion | uppercase}}</span>
    </div>
    <div class="end">
        <app-filter-tab></app-filter-tab>
        <a routerLink="" (click)="goHome()" ><img src="../../../assets/img/homeLogoB.svg" class="imgSeccion"></a>
    </div>
</header>

<header class="subheader home" [ngClass]="{'lightMode': isLightMode, 'nightMode':!isLightMode}" *ngIf="enHome">
    <span>NOTICIAS DEL MOMENTO</span> <app-filter-tab></app-filter-tab>
</header>
