
<div  class="contenido">

    <div id="agregarGestor" *ngIf="estado.agregarGestor" class="registro">
        <app-registro class="componente"></app-registro> 
    </div>

    <div id="obtenerGestores" *ngIf="estado.obtenerGestores"  class="botonesArriba">
            <button (click)="obtenerGestor(0)">Ver todos</button>
            <div>
                <label>ID: <input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()"  class="idInput"></label><button (click)="obtenerGestor(this.id)">Filtrar</button>
            </div>
    </div>

    <div id="actualizarGestor" *ngIf="estado.actualizarGestor" class="botonesArriba">
        <div>
            <label>ID: <input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()"  class="idInput"></label><button (click)="actualizarGestor(this.id)">Filtrar</button>
        </div>
    </div>

    <div id="agregarGestores" *ngIf="estado.agregarGestores" class="botonesArriba">
        <div>
            <label>Cantidad: <input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()"  class="idInput"></label><button (click)="agregarGestores(this.id)">Crear</button>
        </div>
        {{respuesta}}
    </div>

    <div id="verClientesDeGestor" *ngIf="estado.verClientesDeGestor" class="botonesArriba">
        <div>
            <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()"  class="idInput"></label><button (click)="verClientesDeGestor(this.id)">Buscar</button>
        </div>
    </div>

    <div id="agregarCliente" *ngIf="estado.agregarCliente" class="registro">
        <app-registro class="componente"></app-registro> 
    </div>

    <div id="verCliente" *ngIf="estado.verClientes" class="botonesArriba">
        <button (click)="verCliente(0)">Ver todos</button>
        <div>
            <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"></label><button (click)="verCliente(this.id)">Aceptar</button>
        </div>
    </div>

    <div id="actualizarCliente" *ngIf="estado.actualizarCliente" class="botonesArriba">
        <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"></label><button (click)="actualizarCliente(this.id)">Aceptar</button>
    </div>

    <div id="verLasOperacionesDeUnUsuario" *ngIf="estado.verLasOperacionesDeUnUsuario" class="botonesArriba">
        <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"></label><button (click)="verLasOperacionesDeUnUsuario(id)">Aceptar</button>
    </div>

    <div id="verDepositos" *ngIf="estado.verDepositos" class="botonesArriba">
        <button (click)="verDepositos(0)">Ver todos</button>
        <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"></label><button (click)="verDepositos(this.id)">Filtrar</button>
    </div>

    <div id="verTransferencias" *ngIf="estado.verTransferencias" class="botonesArriba">
        <button (click)="verTransferencias(0)">Ver todos</button>
        <label>ID<input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"></label><button (click)="verTransferencias(this.id)">Filtrar</button>
    </div>

    <div id="verMensajes" *ngIf="estado.verMensajes" class="botonesArriba">
        <button (click)="verMensajes(0)">Ver todos</button>
        <div>
            <span>Usuario </span>
            <input type="text" [(ngModel)]="usuario">
            <button (click)="verMensajesUsuario(this.usuario)">Filtrar</button>
        </div>
        <div>
            <label>ID <input type="number" name="id" [(ngModel)]="id" (input)="mayorQueCero()" class="idInput"> </label><button (click)="verMensajes(this.id)">Filtrar</button>
        </div>
        
    </div>

    <div id="deposito" *ngIf="estado.deposito">
        <form (ngSubmit)="realizarDeposito()">
            {{balance}}
            <p>Ingrese una cantidad negativa para extraer y positiva para depositar</p>
            <label>Monto <input type="number" name="monto" [(ngModel)]="monto"></label> <br>
            <input type="submit" value="Realizar deposito">
        </form>
        {{respuesta}}
    </div>

    <div id="transferencia" *ngIf="estado.transferencia" >
        <form (ngSubmit)="realizarTransferencia()">
            {{balance}}
            <label>Monto <input type="number" name="monto" [(ngModel)]="monto"></label> <br>
            <label>ID receptor <input type="number" name="id_receptor" [(ngModel)]="id_receptor" ></label> <br>
            <input type="submit" value="Realizar transferencia">
        </form>
        {{respuesta}}
    </div>

    <div id="enviarMensaje" *ngIf="estado.enviarMensaje" >
        <form (ngSubmit)="enviarMensaje()">
            <label>Mensaje </label> <br>
            <textarea rows="3" cols="3"  name="mensaje" [(ngModel)]="mensaje"></textarea>
            <label>Usuario receptor <input type="text" name="usuarioReceptor" [(ngModel)]="usuarioReceptor"></label> <br>
            <input type="submit" value="Enviar mensaje">
        </form>
        {{respuesta}}
    </div>


    <app-fichas [estado]="estado" [formData]="formData" class="app-fichas"></app-fichas>

    

</div>