ul{
    padding: 5px;
    margin:5px 0 0 -5px;   
    overflow:visible;
    position:absolute;
    list-style-type:none;
    background-color:rgb(19,19,32)
  }

summary {
    padding:0;
    display: inline-block;
    background:rgb(19, 19, 32);
  }  