@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

/* Light */
header{
  --var-backgroundNm:rgb(19,19,32);
  --var-colorNm:white;
  --var-backgroundLm:rgb(227, 224, 202);
  --var-colorLm:rgb(0, 0, 0);
}
.nightMode{
  color:var(--var-colorNm); 
  border-color: var(--var-colorNm);
  background-color:var(--var-backgroundNm);
}
.lightMode{
  color:var(--var-colorLm); 
  border-color: var(--var-colorLm);
  background-color:var(--var-backgroundLm);
}
/* //// */

header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding:0 5px; 
  min-height: 85px;
  max-height: 130px;
  border-bottom:1px solid;
}

.imgHeader{
  max-width: 45px;
  max-height: 45px;
  border-radius:100px;
  padding:1px;
  margin:0 10px;
}

.inFlex{
  align-items:center;
  display:flex;
}

#rightside{
  text-align:left;
}

h1 {
  font-size:6.5vw;
  margin-left:10px 0;
  display:inline-block;
}
@media screen and (min-width: 1100px) {
  h1 {
     font-size: 30px;
  }
}



.drop:hover .dropContent{
  display:block;
}
.dropContent{
  list-style: none;
  display:none;
  margin:0;
  position:absolute;
  margin:0;
  padding:0;  
  border: 1px solid;
}
.dropContent li{
  padding:2px;
}
.dropContent li button{
  width:100%;
  padding:5px;
  border:0;
  text-align:left;
  border: 1px solid;
}
.perfil li button{
  text-align:center;
}
.dropContent li button.lightMode:hover{
  background-color: var(--var-backgroundNm);
  color:white;
}
.dropContent li button.nightMode:hover{
  background-color: white;
  color:black;
}

.imgHeader{
  background-color: white;
  border-radius: 100%;
  padding:2px;
  min-width:30px;
}