<header>
    <div class="inFlex">
      <img class="imgHeader" src="../assets/img/logo.png">
      <h1>EMPRESA</h1>
    </div>
      <div class="inFlex" id="rightside">
        <div class="drop">
          <img class="imgHeader" src="../assets/img/iconsectWhite.png">
          <ul class="secciones">
              <li *ngFor="let seccion of secciones" class="seccionItemList"><button [routerLink]="['/seccion', seccion]">{{seccion | uppercase}}</button></li>
          </ul>
        </div>
        <img class="imgHeader" src="../assets/img/perfil.png">
      </div>    
  </header>



