body{
  background-color:rgb(241, 116, 116);
  font-family: Helvetica, sans-serif;
}
fieldset{
  background-color:red;
  border:none;
  margin: 0 auto;
  max-width: 90%;
  min-width: 30%;
  padding: 0px 15px;
  width:90%;
}
fieldset:first-of-type{
  padding-top:15px
}
fieldset:last-of-type{
  padding-bottom:15px;
}
h1{
  font-size: min(3rem);
}
h1, p{
  margin: 40px auto;
  text-align:center;
  width:70%;
}
input{
  margin:5px auto 10px;
  height:5%;
}
label{
  margin:0px auto 20px;
}
label, input{
  display:block;
  width:100%;
}
label, p{
  font-size: 1.6rem;
}
main{
  margin: 5px auto;
  max-width:900px;
  width:95%;
}
.informp{
  margin:0;
  padding: 0 0 20px 0;
  text-align:left;
}
input[type="checkbox"],input[type="radio"]{
  display:inline-block;
  margin: 0 13px 0 0;
  vertical-align:middle;
  width:20px;
}
input[type="submit"]{
  background-color:rgb(128, 40, 40);
  width:30%;
}
select{
  display:block;
  font-size:1.4rem;
  height:7%;
  margin:5px auto 10px;
  width:100%;
} 
textarea{
  resize: none;
  width:100%;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}



  

  


  





