<section id="registro">

    <form (ngSubmit)="registrarse()" class="form">
        <label class="label"><span>Nombre</span>       <input type = "text"     name="nombre"   [(ngModel)]="nombre"></label> 
        <label class="label"><span>Apellido</span>     <input type = "text"     name="apellido" [(ngModel)]="apellido"></label> 
        <label class="label"><span>Usuario</span>      <input type = "text"     name="usuario"  [(ngModel)]="usuario"></label> 
        <label class="label"><span>Contraseña</span>   <input type = "password" name="password" [(ngModel)]="password"></label> 
        <label *ngIf="sesionActiva" class="label"><span>Gestor</span><input type="checkbox" name="regGestor" [(ngModel)]="regGestor"></label> 
    
        <input type="submit" value="Registrar">
    
    </form>
    
    {{respuesta}}
    
    <button (click)="volver('login')" *ngIf="!sesionActiva">Volver</button>
    

</section>
