<header>
    <div class="inFlex">
      <img class="imgHeader" src="../assets/img/logo.png">
      <h1>EMPRESA</h1>
    </div>
      <div class="inFlex" id="rightside">
        <details><summary><img class="imgHeader" src="../assets/img/iconsectWhite.png"></summary>
        <ul class="secciones">
            <li><button (click)="goTo('MEDIA')">MEDIA</button></li>
            <li><button (click)="goTo('ECONOMÍA')">ECONOMÍA</button></li>
            <li><button (click)="goTo('POLÍTICA')">POLÍTICA</button></li>
            <li><button (click)="goTo('DEPORTES')">DEPORTES</button></li>
            <li><button (click)="goTo('CIENCIA')">CIENCIA</button></li>
        </ul>
        </details>
        <img class="imgHeader" src="../assets/img/perfil.png">
      </div>
  </header>



